.root {
    position: relative;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;
}

.content {
    flex: 2;
    min-height: 0;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    
}

.gallery {
    display: flex;
    /* flex-wrap: wrap; */
    flex: 1;
    min-width: 20ch;
    flex-direction: column;
}

.gallery ul {
    list-style: none;
    counter-reset: cupcake;
    padding-left: 0;
    text-indent: 0;
    direction: ltr;
    list-style-position: outside;
}


.gallery li {
    display: flex;
    counter-increment: unset;
    width: 100%;
    cursor: pointer;
    &:hover {
        background-color: var(--theme-focused-foreground);
    }
    &:active {
        background-color: var(--theme-focused-foreground-subdued);
    }
}

.gallery .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}   

.gallery .trailing {
    flex-grow: 1;
    text-align: right;
    display: flex;

    /* dots */
    &::before {
        content: '';
        border-bottom: 2px dotted var(--theme-border);
        flex:1;
        
    }
}