.root {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main {
    /* fix inline padding for mobile */
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: visible;
    width: 100%;
}

.footer {
    background-color: orange;
    padding: 1ch;
    min-height: 10ch;
    margin-top: 4ch;
}