.root {
    max-width: 120ch;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
}

.root h1 {
    font-family: var(--font-instrument-serif);
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

/* Put styles for native components below! */

/* blockquote {
    border-left: 0.25ch solid var(--theme-border);
    padding-left: 2ch;
    margin-left: 0;
    margin-right: 0; 
} */

