.root {
    max-width: 300px;
    min-width: 200px;
    flex: 1 1 0;
}

.visual {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: clamp(320px, 80vw, 450px);
    width: 100%;

    background-color: var(--theme-background-modal);

    header {
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
    }

    .appicon {
        margin: 1rem;
    }
    
    .mobile {
        display: flex;
        height: 50%;
        width: 70%;
        overflow: hidden;
        position: relative;
        justify-self: center;
        align-items: middle;

        .image {
            object-fit: cover;
            object-position: center top;
        }
        
    }

    .web {
        display: flex;
        height: 50%;
        width: 100%;
        overflow: hidden;
        position: relative;
        justify-self: center;
        align-items: middle;

        .image {
            object-fit: cover;
            object-position: 50px top;
        }

    }

}

.notice {
    background-color: var(--theme-INVERT-background);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--theme-INVERT-text);
    & > * {
        margin: 1ch 1ch;
    }
    p {
        color: var(--theme-INVERT-text);
    }

    .highlight {
        justify-content: center;
        text-align: center;
    }
}