.root {
    display: flex;
    min-width: 20ch;
    width: 100%;
    flex-direction: column;
    margin-inline: 1ch;
    height: 100%;
}

.viewer {
    display: flex;
    flex: 1;
    height: 400px;
    width: 100%;
    position: relative;
    text-align: center;
    background-color: var(--theme-background-modal);
    margin-bottom: 1ch;

    img {
        object-position: center;
        margin: 1ch
    }
}
.list {
    flex:2;
    overflow: scroll;
}

.list ul {
    list-style: none;
    counter-reset: cupcake;
    text-indent: 0;
}

.list li {
    display: flex;
    counter-increment: unset;
    width: 100%;
    cursor: pointer;
    &:hover {
        background-color: var(--theme-focused-foreground);
    }
    &:active {
        background-color: var(--theme-focused-foreground-subdued);
    }
}

.list .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}   

.list .trailing {
    flex-grow: 1;
    text-align: right;
    display: flex;

    /* dots */
    &::before {
        content: '';
        border-bottom: 2px dotted var(--theme-border);
        flex:1;
        
    }
}