body.font-use-inconsolata {
  --font-family-mono: var(--font-inconsolata), monospace;
}


body.font-use-cozette {
  --font-family-mono: var(--font-cozette), monospace;
}

body.font-use-newsreader {
  --font-family-source-serif: 'Newsreader', serif;
}


