a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
embed,
em,
figure,
figcaption,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  margin: 0;
}

a, link {
  text-decoration: none;
}

ul {
  list-style-position: inside;
  list-style-type: '▪';
  text-indent: -1ch;
}

ol {
  list-style-type: '';
  list-style-position: inside;
  counter-reset: cupcake;
  text-indent: -1ch;
}

ul ul,
ul ol,
ol ul,
ol ol {
  padding-left: 2ch;
}

ol li {
  padding-left: 1ch;
  counter-increment: cupcake;
}

ul li:before {
  content: ' ';
  display: inline-block;
  width: 1ch;
  height: 0;
  visibility: hidden;
}

ol li:before {
  content: counters(cupcake, '.') '. ';
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body.theme-light {
  --theme-overlay: var(--color-black-100-4);
  --theme-background: var(--color-neutral-20);
  --theme-background-raised: var(--color-neutral-10-4);
  --theme-background-raised-2: var(--color-neutral-10-2);
  --theme-background-modal: var(--color-neutral-10-4);
  --theme-background-modal-footer: var(--color-neutral-40);
  --theme-background-input: var(--color-neutral-10);
  --theme-border: var(--color-neutral-40);
  --theme-border-subdued: var(--color-neutral-10-7);
  --theme-text: var(--color-black-100);
  --theme-text-soft: var(--color-neutral-90);
  --theme-text-subdued: var(--color-neutral-80);
  --theme-button: var(--color-black-100);
  --theme-button-text: var(--color-neutral-10);
  --theme-button-foreground: var(--color-neutral-30);
  --theme-button-background: var(--color-neutral-20);
  --theme-focused-foreground: var(--color-daybreak-50);
  --theme-focused-foreground-subdued: var(--color-daybreak-50-4);
  --theme-focused-foreground-whisper: var(--color-daybreak-50);
  --theme-gradient: linear-gradient(0deg, var(--color-neutral-40) 0%, var(--color-neutral-30) 5%, var(--color-neutral-20) 15%, var(--color-neutral-30) 40%, var(--color-neutral-10-4) 85%, var(--color-neutral-30) 100%);
  --theme-gradient-90: linear-gradient(90deg, var(--theme-background-raised) 0%, var(--theme-background-raised) 100%);
  --theme-gradient-hover: linear-gradient(0deg, var(--theme-focused-foreground) 0%, var(--theme-background-raised) 100%);
  --theme-gradient-hover-90: linear-gradient(90deg, var(--theme-focused-foreground) 0%, var(--theme-background-raised) 100%);
  --theme-link: #0000EE;
  --theme-link-visited: #551A8B;
}

body.theme-dark {
  --theme-overlay: var(--color-black-100-4);
  --theme-background: var(--color-black-100);
  --theme-background-raised: var(--color-neutral-90-4);
  --theme-background-modal: var(--color-neutral-100);
  --theme-background-modal-footer: var(--color-neutral-70);
  --theme-background-input: var(--color-neutral-60);
  --theme-border: var(--color-neutral-80);
  --theme-border-subdued: var(--color-neutral-80-6);
  --theme-text: var(--color-neutral-10);
  --theme-text-subdued: var(--color-neutral-20);
  --theme-button: var(--color-neutral-10);
  --theme-button-text: var(--color-black-100);
  --theme-button-soft: var(--color-neutral-10-95);
  --theme-button-foreground: var(--color-neutral-90);
  --theme-button-background: var(--color-neutral-80);
  --theme-focused-foreground: var(--color-daybreak);
  --theme-focused-foreground-subdued: var(--color-daybreak-10-5);
  --theme-focused-foreground-whisper: var(--color-daybreak-1);
  --theme-gradient: linear-gradient(0deg, var(--theme-background) 0%, var(--theme-background-modal-footer) 100%);
  --theme-gradient-90: linear-gradient(90deg, var(--theme-background) 0%, var(--theme-background-modal-footer) 100%);
  --theme-gradient-hover: linear-gradient(0deg, var(--theme-background) 0%, var(--theme-focused-foreground) 100%);
  --theme-gradient-hover-90: linear-gradient(90deg, var(--theme-background) 0%, var(--theme-focused-foreground) 100%);
  --theme-link: #5656ee;
  --theme-link-visited: #8f3de0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 1ch;
  height: 1ch;
}

::-webkit-scrollbar-track {
  background: var(--theme-background-input);
}

::-webkit-scrollbar-thumb {
  background: var(--theme-button-foreground);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--theme-focused-foreground); 
}

html,
body {
  --color-black-100: rgba(9, 9, 9, 1);
  --color-black-100-1: rgba(9, 9, 9, 0.1);
  --color-black-100-2: rgba(9, 9, 9, 0.2);
  --color-black-100-4: rgba(9, 9, 9, 0.4);
  --color-black-90: rgba(15, 15, 15, 1);
  --color-black-80: rgba(30, 30, 30, 1);

  --color-daybreak: rgba(248, 216, 147, 1);
  --color-daybreak-50: rgba(255, 190, 51, 1);
  --color-daybreak-50-4: rgba(255, 190, 51, 0.4);
  --color-daybreak-100: rgba(77, 60, 25, 1);
  --color-daybreak-100-5: rgba(77, 60, 25, 0.5);

  --color-teal: rgba(162, 218, 193, 1);
  --color-teal-50-5: rgba(119, 207, 168, 0.5);
  --color-teal-50: rgba(119, 207, 168, 1);
  --color-teal-80: rgba(26, 76, 54, 1);
  --color-teal-80-5: rgba(26, 76, 54, 0.5);
  --color-teal-80-3: rgba(26, 76, 54, 0.3);
  --color-teal-100: rgba(7, 23, 16, 1);

  --color-green: rgba(161, 250, 161, 1);
  --color-green-50: rgba(130, 248, 114, 1);
  --color-green-50-4: rgba(130, 248, 114, 0.4);
  --color-green-80-3: rgba(21, 55, 17, 0.3);
  --color-green-100: rgba(31, 76, 25, 1);

  --color-purple: rgba(193, 184, 241, 1);
  --color-purple-50: rgba(178, 166, 242, 1);
  --color-purple-50-4: rgba(178, 166, 242, 0.4);
  --color-purple-100: rgba(34, 25, 76, 1);

  --color-maroon: rgba(232, 166, 193, 1);
  --color-maroon-50: rgba(237, 115, 165, 1);
  --color-maroon-50-4: rgba(237, 115, 165, 0.4);
  --color-maroon-80-3: rgba(109, 45, 72, 0.3);
  --color-maroon-100: rgba(77, 26, 46, 1);

  --color-neutral-10-95: rgba(232, 231, 227, 0.95);
  --color-neutral-10-9: rgba(232, 231, 227, 0.9);
  --color-neutral-10-7: rgba(232, 231, 227, 0.7);
  --color-neutral-10-4: rgba(232, 231, 227, 0.4);
  --color-neutral-10-2: rgba(232, 231, 227, 0.2);
  --color-neutral-10-1: rgba(232, 231, 227, 0.1);
  --color-neutral-10: rgba(232, 231, 227, 1);
  --color-neutral-20-7: rgba(204, 202, 197, 0.7);
  --color-neutral-20: rgba(204, 202, 197, 1);
  --color-neutral-30-7: rgba(181, 179, 174, 0.7);
  --color-neutral-30: rgba(181, 179, 174, 1);
  --color-neutral-40-2: rgba(158, 156, 151, 0.2);
  --color-neutral-40: rgba(158, 156, 151, 1);
  --color-neutral-50: rgba(138, 137, 133, 1);
  --color-neutral-60: rgba(120, 119, 116, 1);
  --color-neutral-70-3: rgba(103, 102, 99, 0.3);
  --color-neutral-70-4: rgba(103, 102, 99, 0.4);
  --color-neutral-70: rgba(103, 102, 99, 1);
  --color-neutral-80-6: rgba(85, 84, 82, 0.6);
  --color-neutral-80: rgba(85, 84, 82, 1);
  --color-neutral-90-4: rgba(65, 64, 62, 0.2);
  --color-neutral-90-2: rgba(65, 64, 62, 0.2);
  --color-neutral-90-6: rgba(65, 64, 62, 0.6);
  --color-neutral-90: rgba(65, 64, 62, 1);
  --color-neutral-100-25: rgba(45, 44, 43, 0.25);
  --color-neutral-100: rgba(45, 44, 43, 1);

  --font-family-mono: var(--font-source-code-pro), monospace;
  --font-family-serif: var(--font-instrument-serif), serif, Georgia, Times New Roman;
  --font-family-sans: var(--font-geist), -apple-system, helvetica, sans-serif;
  --font-family: var(--font-family-mono), Courier, monospace;

  --theme-text: var(--color-black-100);
  --theme-line-height-base: 1.125;
  --base-font-size: 16px;
  --font-size: var(--base-font-size);

  --z-index-page: 1;
  --z-index-page-select: 3;
  --z-index-page-tooltips: 4;
  --z-index-page-popover: 5;
  --z-index-page-dropdown-menus: 6;
  --z-index-page-modals: 10;

  /* Referenced in Sidebar layout for sidebar style change. */
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1200px;
  --breakpoint-desktop: 1440px;

  background: var(--theme-background);
  color: var(--theme-text);
  font-family: var(--font-family);
  line-height: calc(var(--theme-line-height-base) * 1rem);

  font-size: var(--font-size);
  font-optical-sizing: auto;
  text-rendering: geometricPrecision;
  font-weight: 400;
  font-variant-numeric: tabular-nums lining-nums;

  a {
    color: var(--theme-link);
    &:visited {
      color: var(--theme-link-visited);
    }
  }

  p, aside {
    margin-top: 0.25ch;
    margin-bottom: 1ch;
    color: var(--theme-text-soft);
  }

  h1, h2, h3, h4, h5, h6 {margin: 1.5ch 0 1ch 0}
  h1 {
    font-size: 1.75rem;
    border-bottom: 1px solid var(--theme-border);
    padding-bottom: 1ch;
    line-height: calc(var(--theme-line-height-base) * 1.25) !important;
  }
  h4 {
    text-transform: uppercase;
    color: var(--theme-text-subdued);
    opacity: 0.8;
  }

  kbd {
    --kbd-color-background: var(--theme-background);
    --kbd-color-border:     var(--theme-border);
    --kbd-color-text:       var(--theme-text);

    background-color: var(--kbd-color-background);
    color: var(--kbd-color-text);

    border: 1px solid var(--kbd-color-border);
    box-shadow: 0 2px 0 1px var(--kbd-color-border);
    cursor: default;
    font-size: calc(var(--font-size) * 0.8);
    line-height: 1;
    text-align: center;
    padding: 0px 5px;
    position: relative;
    top: -1px;

    &:hover {
      box-shadow: 0 1px 0 0.5px var(--kbd-color-border);
      top: 1px;
    }
  }

  small {
    font-size: calc(var(--font-size) * 0.95);
    color: var(--theme-text-subdued);
  }

  caption {
    font-size: 0.875rem;
    color: var(--theme-text-subdued);
  }

  sup {
    vertical-align: super;
  }

}

.gridBg {
    &::before {
    content: '';
    background-image: linear-gradient(var(--theme-background-modal) 1px, transparent 1px), linear-gradient(90deg, var(--theme-background-modal) 1px, transparent 1px);
    background-size: 19px 19px;
  }
}

.hatnote {
  margin-left: 2ch;
}

/* for images, turn off anti-aliasing */
.pixelated {
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: crisp-edges;               
  image-rendering: pixelated;                 
}

/* @media (max-width: 768px) {
  body, html {
    font-size: calc(var(--font-size) * 0.75);
  }
} */