body.font-use-inconsolata {
  --font-family-mono: var(--font-inconsolata), monospace;
}


body.font-use-cozette {
  --font-family-mono: var(--font-cozette), monospace;
}

body.font-use-source-serif {
  --font-family-source-serif: 'Source Serif 4', serif;
}


