.root {
    max-height: 100dvh;
    display: flex;
    flex-direction: row;
    padding: 1ch;
}

.gallery {
    display: flex;
    flex: 0;
}

.stuff {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16ch, 1fr));
    overflow-x: scroll;
}

.item {
    display: flex;
    width: 16ch;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    justify-content: center;
    padding-block: 1ch;
    margin-block-end: 1ch;
    border-bottom: 1px solid var(--theme-border);

    Badge {
        width: 100%;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.imageWrapper {
    position: relative;
    height: 15ch;
    cursor: pointer;
    .actions {
        position: absolute;
        inset: 1ch;
    }
}




