.root {
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


.trees {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}

.header {
    align-items: center;
    padding: 0.5rem;
    * {
        max-width: 20ch;
    }
}

.footer {
    display: flex;
}