.main {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  
  background-image: linear-gradient(var(--color-gray-10) 1px, transparent 1px), linear-gradient(90deg, var(--color-gray-10) 1px, transparent 1px);
  background-size: 19px 19px;
}

