.main {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  
  &::before {
    content: '';
    background-image: linear-gradient(var(--theme-background-modal) 1px, transparent 1px), linear-gradient(90deg, var(--theme-background-modal) 1px, transparent 1px);
    background-size: 19px 19px;
  }
}

