.container {
    gap: 4ch;
}

.brandsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3ch;
    margin-block: 1ch;

    svg {
        width: auto;
    }
}

.featuredContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2ch;
    margin-top: 2ch;

}

.gt {
    color: var(--theme-text-subdued);
    font-weight: 600;
}