.root  {
    flex-direction: column;
    gap: 0.5em;
    flex: 0 0 auto;
    margin: 1em;
    & > * {
        margin-bottom: var(--size-4);
    }
}

.mug {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.mug::before {
    content: "";
    height: 5px;
    border-radius: 100%;

    width: 35px;
    position: absolute;

    bottom: 15px;
    left: 50%;
    transform: translateX(-60%);
    opacity: 0.75;
    background-color: var(--black);
    mix-blend-mode: multiply;
    filter: blur(4px);
}

.header {
    display: flex;
    max-width: var(--size-8);
    padding: 0.25rem 0 0.5rem 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* gap: var(--size-1); */
    gap: var(--size-4);

    .heroText {
        font-family: var(--font-family-serif);
        font-size: var(--font-size-subtitle);
        text-wrap: balance;
    }
}

.root section {
    margin-block: var(--size-4);
}

.outlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: var(--size-4);
}
.socials {
    display: flex;
    gap: var(--size-2);

}
