.root {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background: var(--theme-focused-foreground);
  }
}

.gradient {
  background: linear-gradient(0deg, var(--theme-background-modal-footer) 0%, var(--theme-background) 100%);

  &:hover {
    /* background: var(--theme-focused-foreground); */
    background: linear-gradient(0deg, var(--theme-focused-foreground) 0%, var(--theme-background) 100%);
  }
}


.icon {
  flex-shrink: 0;
  user-select: none;
}

.content {
  min-width: 10%;
  width: 100%;
  user-select: none;
  transition: 200ms ease all;
  transition-property: padding;
  padding-left: 1ch;
}

.active {
  .content {
    padding-left: 2ch;
  }
}
