.root {
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.spaceBefore {
    &:first-of-type {
        padding-block: 4ch 2ch;
    }
}
.spaceAfter {
    &:last-of-type {
        padding-bottom: 20ch;
    }
}

.wrapper {
    width: 100%;
    padding: 1em 1em 1em 2em;
    margin-block: 1ch; 
}

.readable {
    width: 100%;
    max-width: 90ch; 
    margin: 0 auto;
}

.medium {
    width: 100%;
    max-width: 110ch;
    margin: 0 auto;
}

.full {
    width: 100%;
    /* padding-block: 10ch; */
    margin: 0 auto;
}

.escaped {
    padding: 0;
    max-width: none; 
    margin: 0;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        padding: 2ch 2ch 2ch 3ch;
        margin-block: 1ch; 
    }
    .spaceBefore {
        &:first-of-type {
            padding-block: 1ch 1ch;
        }
    }
    .spaceAfter {
        &:last-of-type {
            padding-bottom: 10ch;
        }
    }
}
