.section {
  max-width: 1400px;
  margin: 0 auto;
  display: block;
}

.swiperContainer {
  transform: translateY(30px); 
  opacity: 0;
  transition: opacity 800ms ease-out, transform 800ms ease-out;
}
.swiperContainer.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Swiper */
.swiper {
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.slide {
  border-radius: var(--border-radius-xl);
  border: 2px solid var(--border);
  overflow: hidden;
}

.slideCard {
  min-height: 35rem;
  width: 100%;
  display: flex;
  position: relative;
  background-color: var(--neutral-500);
}

.slideCardBody {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--size-6);
  color: var(--white);
  width: 100%;
  /* gap: var(--size-1); */
}

.controls {
  display: flex;
  gap: var(--size-1);
  color: var(--white);
  margin-left: auto;
  flex-shrink: 0;
  button {
    background-color: transparent;
    border: none;
    color: var(--white);
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
    border-radius: var(--border-radius-sm);
    padding: var(--size-1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &:hover {
      background-color: var(--white-alpha-01);
    }
    &* {
      color: var(--white) !important;
    }
  }
}

.label {
  gap: var(--size-1);
  display: flex;
  flex-direction: column;
}

.headline {
  max-width: 30ch;
  text-wrap: balance;
}

.project {
  font-weight: 400;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(137, 142, 158, 0) 50%, rgba(54, 57, 66, 0.50) 80%, #202125 100%);
  background-blend-mode: plus-darker;
}

@media screen and (max-width: 568px) {
  .slideCardBody {
    flex-direction: column;
    padding: var(--size-3);
  }

  .headline {
    font-size: var(--font-size-subtitle);
  }

  .overlay {
  background: linear-gradient(180deg, rgba(137, 142, 158, 0.00) 30%, rgba(54, 57, 66, 0.10) 40%, #202125 100%);
  }
}

.overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.271703815460205px);
  mask: linear-gradient(transparent 20%, black 80%);
}
