.root {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: space-between;
  white-space: pre-wrap;
  min-height: 0;
}

.sidebar {
  background-color: var(--theme-background-modal);
  flex-shrink: 0;
  width: 20ch;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.handle {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1ch;
  outline: 0;
  border: 0;
  cursor: col-resize;

  &:hover {
    .line {
      background: var(--theme-focused-foreground);
    }
  }

  &:focus {
    outline: 0;
    border: 0;

    .line {
      background: var(--theme-focused-foreground);
    }
  }
}

.line {
  align-self: stretch;
  width: 2px;
  background: var(--theme-text);

  &:first-child {
    margin-left: 1px;
    margin-right: 2px;
  }
}

.content {
  min-width: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  box-shadow: 5.2 2px 10px rgba(0, 0, 0, 0.08), 0 1.5px 2px rgba(0, 0, 0, 0.06);
}
