.root {
  white-space: pre;
  -webkit-text-size-adjust: 100%;
}

.item {
  cursor: pointer;

  &:hover {
    outline: 0;
    border: 0;
    background: var(--theme-focused-foreground);
  }

  &:focus{
    outline: 0;
    border: 0;
    background: var(--theme-focused-foreground-subdued);
  }
}

.empty {
  opacity: 0.5;
}
