.root {
  white-space: nowrap;
  white-space-collapse: preserve;
  -webkit-text-size-adjust: 100%;
}

.item {
  cursor: pointer;

  &:hover {
    outline: 0;
    border: 0;
    background: var(--theme-focused-foreground);
  }

  /* &:focus{
    outline: 0;
    border: 0;
    background: var(--theme-focused-foreground-subdued);
  } */
}

.empty {
  opacity: 0.5;
}

.selected {
    background: var(--theme-focused-foreground-subdued);
    position: relative;
    /* &:after {
        content: '[YOU ARE HERE]';
        opacity: 0.5;
        font-size: 0.75rem;
        position: absolute;
        right: 1ch;
        top: 0;
        bottom: 0;
        height: 100%;
        pointer-events: none;
    } */
}
