.container {
    display: flex;
    flex-direction: column;
    max-width: 80ch;
    margin: 0 auto;
    padding: 2rem;
    gap: 4ch;
}

.brandsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3ch;
    margin-top: 2ch;

    svg {
        width: auto;
    }
}

.featuredContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2ch;
    margin-top: 2ch;

}