/* .header {
    background-color: var(--color-gray-30);
    height: 30ch;
} */
/* 
.tableMain {
    margin-top: 20ch;
} */

.gradient {
  background: var(--theme-gradient)
}

.brandsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3ch;
    margin-block: 1ch;

    svg {
        width: auto;
    }
}